:root {
  --color-primary: #0f172a;
  --color-secondary: #6b21a8;
  --color-secondary-light: #b28cd1;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background: #f8fafc;
  color: #333;
}

a {
  text-decoration: none;
  color: #333;
  &:hover {
    color: var(--color-secondary);
  }
}

p {
  margin: 1rem 0;
  &:empty {
    display: none;
  }
}

ul {
  display: block;
  list-style: none;
}

h1,
h2,
h3 {
  line-height: 1.2;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
}

.btn {
  display: inline-block;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  background: #333;
  text-transform: uppercase;
  font-size: 0.8rem;
  letter-spacing: 1px;
  transition: all 0.3s ease;
  color: #fff;
  &:hover {
    color: var(--color-secondary-light);
  }
}

.page-content {
  margin: 20px 0;
  h1,
  h2,
  h3 {
    margin: 20px 0;
  }
  h1 {
    font-size: 40px;
  }
  h2 {
    font-size: 30px;
  }
  h3 {
    font-size: 25px;
  }

  ul:not(.tabs-header) li {
    display: block;
    position: relative;
    margin-inline-start: 1.5rem;
    &:before {
      content: "";
      position: absolute;
      top: 1.2em;
      left: -1.5rem;
      margin-top: -0.9em;
      background: var(--color-secondary);
      height: 12px;
      width: 12px;
      border-radius: 50%;
    }
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }
}

.logos {
  margin: 2rem auto;
  display: none;

  &--small {
    display: block;
  }
}

@media (min-width: 960px) {
  .logos {
    &--large {
      display: block;
    }
    &--small {
      display: none;
    }
  }
}

@media (max-width: 500px) {
  h1,
  h2 {
    text-align: center;
  }
}
