---
const data = [
  {
    title: "Zero JavaScript Runtime",
    content: `Astro renders HTML on the server and strips away any remaining, unused JavaScript.
     This means that Astro is fast, secure, and accessible by default.`,
  },
  {
    title: "The Power of Islands",
    content:
      "Need interactive UI? Load individual, non-blocking component islands in parallel.",
  },
  {
    title: "Lazy-Loading Islands",
    content:
      "Components only hydrate when they scroll into view. If you don't see it, Astro won't load it.",
  },
];

import Card from "../components/Card.astro";
---

<section class="features">
  <div class="container">
    {data.map((card) => <Card title={card.title} content={card.content} />)}
  </div>
</section>

<style lang="scss">
  .features {
    .container {
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-gap: 20px;
      padding: 0 20px;
      margin: 30px auto;
      @media (max-width: 500px) {
        grid-template-columns: 1fr;
      }
    }
  }
</style>
